body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
 /* Estilo personalizado para limitar la altura */
 .img-custom {
    height: 35vh; /* Altura fija del 40% del viewport */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}
.cuadro {
    position: relative;
    height: 40vh;
    perspective: 1000px; /* Asegura que la perspectiva se aplique al elemento principal */
}

.cuadro div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; /* Esconde el lado opuesto durante la rotación */
    transition: transform 1s; /* Cambié 'transition' a 'transform' para asegurar una transición suave */
}

.cuadro .front {
    transform: rotateY(0deg);
    background-size: cover;
    background-position: center;
}

.cuadro .front h1 {
    position: absolute; /* Permite ubicar el texto dentro del contenedor */
    bottom: 10px; /* Ajusta según el espacio que quieras desde abajo */
    left: 10px; /* Ajusta según el espacio que quieras desde la izquierda */
    margin: 0;
    font-size: 1.5rem; /* Tamaño del texto */
    color: white; /* Asegúrate de que el texto sea legible */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para mejor contraste */
}

.cuadro1 .front {
    background-image: url('../img/sol_de_tarde.jpg');
}

.cuadro2 .front {
    background-image: url('../img/verano.jpg');
}


.cuadro .back {
    background-color: rgb(142, 194, 21);
    transform: rotateY(180deg); /* La cara posterior comienza en 180deg, invisible inicialmente */
}

.cuadro.active .front {
    transform: rotateY(180deg); /* Rota la cara frontal al activarse */
}

.cuadro.active .back {
    transform: rotateY(0deg); /* Muestra la cara trasera al activarse */
}