body {
    margin: 0;
    overflow-x: hidden;
}
.capitulo1{
    background-color: #6493a4;
}
.capitulo2{
    background-color: #57a5b5;
}
 /* Estilo personalizado para limitar la altura */
.img-custom {
    height: 35vh; /* Altura fija del 40% del viewport */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

@media (max-width: 576px) {
    .margen{
        margin-top: 1rem; /* Ajusta el valor como necesites */
    }
}

.cuadro {
    position: relative;
    height: 40vh;
    perspective: 1000px; /* Asegura que la perspectiva se aplique al elemento principal */
}

.cuadro div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; /* Esconde el lado opuesto durante la rotación */
    transition: transform 1s; /* Cambié 'transition' a 'transform' para asegurar una transición suave */
}

.cuadro .front {
    transform: rotateY(0deg);
    background-size: cover;
    background-position: center;
}

.cuadro .front h1 {
    position: absolute; /* Permite ubicar el texto dentro del contenedor */
    bottom: 10px; /* Ajusta según el espacio que quieras desde abajo */
    left: 10px; /* Ajusta según el espacio que quieras desde la izquierda */
    margin: 0;
    font-size: 1.5rem; /* Tamaño del texto */
    color: white; /* Asegúrate de que el texto sea legible */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para mejor contraste */
}

.cuadro1 .front {
    background-image: url('../img/sol_de_tarde.jpg');
}

.cuadro2 .front {
    background-image: url('../img/verano.jpg');
}


.cuadro .back {
    background-color: rgb(142, 194, 21);
    transform: rotateY(180deg); /* La cara posterior comienza en 180deg, invisible inicialmente */
}

.cuadro.active .front {
    transform: rotateY(180deg); /* Rota la cara frontal al activarse */
}

.cuadro.active .back {
    transform: rotateY(0deg); /* Muestra la cara trasera al activarse */
}

/*ANIMACIONES*/
/* Animación para hacer que los números deslicen desde arriba */
@keyframes slide-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-top {
    display: inline-block;
    opacity: 0; /* Inicialmente oculto para la animación */
}

/* Agregar retraso a cada número para crear un efecto secuencial */
.slide-top:nth-child(1) {
    animation-delay: 0s; /* Sin retraso */
}
.slide-top:nth-child(2) {
    animation-delay: 0.1s; /* Retraso para el segundo número */
}
.slide-top:nth-child(3) {
    animation-delay: 0.2s; /* Retraso para el tercer número */
}
.slide-top:nth-child(4) {
    animation-delay: 0.3s; /* Retraso para el cuarto número */
}

.show {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*LETRAS*/
.numero, .numero_sep,.titulo,h1,h2, h3{
    font-family: 'Bebas Neue', sans-serif; /* Incluye una fuente de respaldo como sans-serif */
}

.numero{
    color:#fcac3c;
}
.numero_sep{
    color:#fcd48c;
}
.sorolla{
    color:#07517f;
}

/*INTRODUCCION*/
/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .numero {
        font-size: 3rem;
    }
    .numero_sep {
        font-size: 5rem;
    }

    .titulo {
        font-size: 1.5rem; 
    }
}

/* Para pantallas grandes (desktops) */
@media (min-width: 1024px) {
    .numero{
        font-size: 12rem; /* Tamaño grande para pantallas de escritorio */
    }
    .numero_sep {
        font-size: 14rem;
    }

    .titulo {
        font-size: 5rem; /* Tamaño estándar para títulos en escritorios */
    }
}